In [5]:
import numpy as np
import pandas as pd

x=np.array([224,270,400,444,590,660,1400,680])
y=np.array([116,96,239,329,437,597,689,576])
d={'y':y, 'x':x}
data=pd.DataFrame(data=d)
data.T

     0    1    2    3    4    5     6    7
y  116   96  239  329  437  597   689  576
x  224  270  400  444  590  660  1400  680

In [2]:
from scipy.stats import ttest_rel
#Paired T test - two-tailed test
ttest_rel(x,y)

Ttest_relResult(statistic=2.673117820270042, pvalue=0.031855388760108426)

In [3]:
#Paired T test - one-tailed test
pval=ttest_rel(x,y)[1]
print('one-sided p-value=', pval/2)

one-sided p-value= 0.015927694380054213