In [1]:
import numpy as np
import pandas as pd

#x:iron content  g: Analysis method
x=np.array([2.0,2.0,2.3,2.1,2.4,2.2,1.9,2.5,2.3,2.4])
g=np.repeat(np.array(['A', 'B']), 5)
d={'g':g, 'x':x}
data=pd.DataFrame(data=d)
data.T

     0    1    2    3    4    5    6    7    8    9
g    A    A    A    A    A    B    B    B    B    B
x  2.0  2.0  2.3  2.1  2.4  2.2  1.9  2.5  2.3  2.4

In [11]:
#group  A:chemical method  B:X ray
A=data[data.g=='A']
B=data[data.g=='B']

#statistical analysis according to the group
data.groupby("g").x.describe()

   count  mean       std  min  25%  50%  75%  max
g
A    5.0  2.16  0.181659  2.0  2.0  2.1  2.3  2.4
B    5.0  2.26  0.230217  1.9  2.2  2.3  2.4  2.5

In [3]:
#normality testing
from scipy.stats import shapiro
shapiro(x)

ShapiroResult(statistic=0.9437551498413086, pvalue=0.5955022573471069)

In [4]:
#Equal variance test - Bartlett test (when normality is satisfied)
from scipy import stats
stats.bartlett(A.x, B.x)

BartlettResult(statistic=0.19769157819919453, pvalue=0.6565906251784377)

In [5]:
#Equal variance test - Levene test (when normality is not satisfied)
from scipy import stats
stats.levene(A.x, B.x)

LeveneResult(statistic=0.05555555555555569, pvalue=0.8195856784525775)

In [6]:
#T test - two-sided test, equal variance assumption
from scipy.stats import ttest_ind
ttest_ind(A.x, B.x, equal_var=True)

Ttest_indResult(statistic=-0.7624928516630208, pvalue=0.4676497723369858)

In [7]:
#T test - one-sided test, equal variance assumption
from statsmodels.stats.weightstats import ttest_ind
ttest_ind(A.x, B.x, alternative='smaller', usevar='pooled')

(-0.7624928516630208, 0.2338248861684929, 8.0)

In [8]:
#T test - one-tailed test, heteroskedasticity assumption
ttest_ind(A.x, B.x, alternative='two-sided', usevar='unequal')

(-0.7624928516630208, 0.46879774681771524, 7.589533093894302)