In [ ]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append('./Others/Data_Science/Project')

In [9]:
Temp2023 = pd.read_csv('Temp2023.csv', encoding='cp949')

In [16]:
Temp2023[['일시','기온(°C)','강수량(mm)']].head()

                 일시  기온(°C)  강수량(mm)
0  2023-01-01 00:00     0.9      NaN
1  2023-01-01 01:00     1.5      NaN
2  2023-01-01 02:00     1.5      NaN
3  2023-01-01 03:00     1.6      NaN
4  2023-01-01 04:00     1.5      NaN